*,
:after,
:before {
  box-sizing: border-box;
}

div {
  display: block;
}

img,
svg {
  vertical-align: middle;
}

img {
  border-style: none;
  overflow: clip;
  overflow-clip-margin: content-box;
}

body {
  line-height: 30px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #797979;
}

.frelencer_banner_area {
  height: 1050px;
  position: relative;
  z-index: 1;
  display: flex;
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
}

.home_bubble .bubble.b_one,
.home_bubble .bubble.b_two {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.home_bubble .bubble.b_one {
  background: #00c99c;
  top: 25%;
  left: 85px;
  -webkit-animation: spin2 2s infinite alternate;
  animation: spin2 2s infinite alternate;
}

.home_bubble .bubble.b_four,
.home_bubble .bubble.b_one {
  width: 10px;
  height: 10px;
}

.home_bubble .bubble {
  position: absolute;
  border-radius: 50%;
}

.home_bubble .bubble.b_two {
  background: #fca249;
  top: 40%;
  left: 155px;
  -webkit-animation: spin1 2s infinite alternate;
  animation: spin1 2s infinite alternate;
}

.home_bubble .bubble.b_five,
.home_bubble .bubble.b_two {
  width: 30px;
  height: 30px;
}

.home_bubble .bubble.b_three {
  background: #7d95fa;
  top: 85%;
  left: 255px;
  -webkit-animation: spin1 1s infinite alternate;
  animation: spin1 1s infinite alternate;
}

.home_bubble .bubble.b_six,
.home_bubble .bubble.b_three {
  width: 14px;
  height: 14px;
}

.home_bubble .bubble.b_four {
  background: #d27dfa;
  top: 100px;
  left: 205px;
  -webkit-animation: spin1 2s infinite alternate;
  animation: spin1 2s infinite alternate;
}

.home_bubble .bubble.b_five {
  background: #ff9398;
  top: 250px;
  left: 355px;
  -webkit-animation: spin1 3s infinite alternate;
  animation: spin1 3s infinite alternate;
}

.home_bubble .bubble.b_six {
  background: #f1d53b;
  top: 75%;
  left: 55px;
  -webkit-animation: spin2 2s infinite alternate;
  animation: spin2 2s infinite alternate;
}

.s_shap {
  position: absolute;
  top: -1px;
  height: 100%;
  width: auto;
  right: 0;
  z-index: -1;
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.row {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
  position: relative;
  display: flex;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.frelencer_content {
  width: 500px;
  position: relative;
  margin-left: 200px;
}
.frelencer_content h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 70px;
  padding-bottom: 30px;
  letter-spacing: -1.01px;
  font-family: "Montserrat",sans-serif;
  margin-bottom: 0;
}
.frelencer_content h4 span {
  background: rgba(13,179,199,.12);
  font-size: 16px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  padding: 15px 30px;
  display: inline-block;
  font-weight: 600;
  letter-spacing: 6px;
  color: #0db3c7;
}
.frelencer_content h2 span {
  color: #0db3c7;
  font-weight: 900;
}
.t_color {
  white-space: pre-line;
  color: #040c2c;
}
.frelencer_img {
  position:absolute;
}
.f_img_five, .f_img_four, .f_img_one, .f_img_seven, .f_img_six, .f_img_three, .f_img_two {
  position: absolute;
  z-index: -1;
}
.f_img_one {
  top: 220px;
  left: 100px;
  z-index: 2;
}
.f_img_two {
  top: 135px;
  left: 120px;
  z-index: 1;
}
.f_img_three {
  top: 275px;
  left: 290px;
  z-index: 1;

}
.f_img_four {
  top: -30px;
  left: 150px;
  z-index: 0;
}
.f_img_five {
  top: 37px;
  left: 198px;
  z-index: -1;
}
.f_img_five img {
  -webkit-animation: fadeInUp3 1.5s .2s infinite alternate both;
  animation: fadeInUp3 1.5s .2s infinite alternate both;
}
.f_img_six {
  top: 0;
  left: 292px;
  z-index: 1;
}
.f_img_six img {
  animation: fadeInUp3 1.9s .3s infinite alternate-reverse both;
}
.f_img_seven {
  top: 105px;
  left: 365px;
  z-index: 0;
}
.f_img_seven img {
  -webkit-animation: fadeInUp3 2.1s .2s infinite alternate both;
  animation: fadeInUp3 2.1s .2s infinite alternate both;
}
.body_wrapper {
  overflow: hidden;
}


@media screen and (max-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
    margin-top: 100px;
  }
  .s_shap{
    display: none;
  }
  .row{
    flex-direction: column;
    gap: 30px;
  }
  .frelencer_img{
    margin-left: 250px;
  }
  .frelencer_banner_area{
    height: 77rem;
  }
  
}

@media screen and (max-width: 992px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  } 
  .s_shap{
    display: none;
  }
  .row{
    flex-direction: column;
    gap: 30px;
  }
  .frelencer_img{
    width: 532px;
    height: 504px;
    margin-left: 150px;
  }
  
}

@media screen and (max-width: 768px) {

  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
  .frelencer_content{
    margin-left: 50px;
  }
  .bubble.b_three{
    display: none;
  }
  .frelencer_img{
    margin-left: 50px;
  }
}
@media screen and (max-width: 668px) {
  .frelencer_img{
    margin-left: 30px;
  }
}


@media screen and (max-width: 576px) {
  .frelencer_content h2 {
    font-size: 31px;
    line-height: 45px;
}
.frelencer_content h4 span {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 20px;
  text-overflow:clip;
}
  .container,
  .container-sm {
    max-width: 560px;
  }
  .frelencer_img{
    width: 332px;
    height: 304px;
    margin-left: -55px;
  }
}

@media screen and (max-width: 406px) {
  .frelencer_img{
    margin-left: -115px;
  }
}
